/*
    COMP 333
    Homework 2
*/

/*
    This is the style sheet for the django implementation of the music review platform
*/

/*
    Using the Quicksand light 300 font from Google for all body text except section headers which
    use the noto sans sc font.
*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body {
    background-color: black; /* Make website background black */
    font-family: 'Quicksand', sans-serif; /* default font is quicksand for all body text */
    color: white; /* font is white for all body text */
    font-size: large;

}


/* Make hyperlinks yellow and underline them */
a {
    color: yellow;
    text-decoration: underline;
    font-size: large;
}

/* Make headings large and yellow with Noto Sans SC font */
h1 {
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 150%;
    color: yellow;
    padding: 0 0 1em 0;
}

/* Make red boarder around text inputs and make the input box the length of the page */
input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
}

/* Make input text box boarder color change on selection */
input:focus {
    background-color: lightblue;
    border: 3px solid rgb(255, 255, 255);
}

/* Make submit button green and large with a pointer cursor when the user hovers over it */
input[type=submit]{
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 32px;
    margin: 4px 2px;
    cursor: pointer;
}

/* Make horizontal dividers red */
hr {
    border: 3px solid red;
}

